<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409427919085-fs5hfsem9n9brknsoagt0t4egtfdg9om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409427919085-fs5hfsem9n9brknsoagt0t4egtfdg9om</string>
	<key>API_KEY</key>
	<string>AIzaSyD0rIR-eIix7zjyQKyiHnGhJqNx9R6DHds</string>
	<key>GCM_SENDER_ID</key>
	<string>409427919085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rareCrewTaskCynthia</string>
	<key>PROJECT_ID</key>
	<string>rare-crew-6e38a</string>
	<key>STORAGE_BUCKET</key>
	<string>rare-crew-6e38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409427919085:ios:24eed9758a12de526acce4</string>
</dict>
</plist>